.card{
    display: inline-block;
    margin: 5px;
    height: 150%;
    width: 100%;
    cursor: pointer;
    border: 2px solid rgb(46, 46, 161);
}

.card:hover{
    transform: scale(0.95);
}

.card__image, .card__image--disable{
    width: 150px;
    height: 150px;
}

.card__image--disable{
    opacity: 0.6;
}