.card{
    display: inline-block;
    margin: 5px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

.card:hover{
    transform: scale(0.95);
}

.card__image{
    width: 200px;
    height: 200px;
}